In [38]:
from common import Data
import pandas as pd

In [39]:
df = Data.get_nwsl_matches(season=2025)
df

,date,time,season,home,away,home_score,away_score,home_penalty_score,away_penalty_score,home_xg,away_xg,referee,attendance,stadium,is_forfeit,is_extra_time,is_pks,is_playoffs
1472,2025-03-14,19:00,2025,HOU,WAS,1,2,0.0,0.0,1.0,1.4,Matthew Thompson,NaN,Shell Energy Stadium,False,False,False,False
1473,2025-03-14,20:00,2025,ORL,CHI,6,0,0.0,0.0,2.1,1.1,Shawn Tehini,19237.0,Inter&Co Stadium,False,False,False,False
1474,2025-03-15,11:45,2025,KCC,POR,3,1,0.0,0.0,1.9,1.2,Alyssa Nichols,11500.0,CPKC Stadium,False,False,False,False
1475,2025-03-15,17:30,2025,UTA,BAY,1,1,0.0,0.0,1.0,0.8,Jaclyn Metz,10624.0,America First Field,False,False,False,False
1476,2025-03-15,19:00,2025,RGN,GFC,1,1,0.0,0.0,0.5,1.3,Alex Billeter,8467.0,Lumen Field,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1539,2025-05-24,19:00,2025,LA,LOU,2,3,0.0,0.0,1.6,1.5,Elvis Osmanovic,16740.0,BMO Stadium,False,False,False,False
1540,2025-05-24,19:00,2025,HOU,BAY,2,2,0.0,0.0,0.8,2.2,Alex Billeter,5595.0,Shell Energy Stadium,False,False,False,False
1541,2025-05-25,19:00,2025,SD,NC,5,2,0.0,0.0,1.6,1.8,Elijio Arreguin,12760.0,Snapdragon Stadium,False,False,False,False
1542,2025-06-06,19:00,2025,SD,RGN,1,2,0.0,0.0,0.9,0.6,Gerald Flores,15393.0,Snapdragon Stadium,False,False,False,False
1543,2025-06-06,19:30,2025,LOU,UTA,3,2,0.0,0.0,1.9,1.1,Adorae Monroy,3951.0,Lynn Family Stadium,False,False,False,False

In [40]:
df["home_win"] = df["home_score"] > df["away_score"]
df["home_loss"] = df["home_score"] < df["away_score"]
df["home_draw"] = df["home_score"] == df["away_score"]
df["away_win"] = df["home_score"] < df["away_score"]
df["away_loss"] = df["home_score"] > df["away_score"]
df["away_draw"] = df["home_score"] == df["away_score"]
df

,date,time,season,home,away,home_score,away_score,home_penalty_score,away_penalty_score,home_xg,...,is_forfeit,is_extra_time,is_pks,is_playoffs,home_win,home_loss,home_draw,away_win,away_loss,away_draw
1472,2025-03-14,19:00,2025,HOU,WAS,1,2,0.0,0.0,1.0,...,False,False,False,False,False,True,False,True,False,False
1473,2025-03-14,20:00,2025,ORL,CHI,6,0,0.0,0.0,2.1,...,False,False,False,False,True,False,False,False,True,False
1474,2025-03-15,11:45,2025,KCC,POR,3,1,0.0,0.0,1.9,...,False,False,False,False,True,False,False,False,True,False
1475,2025-03-15,17:30,2025,UTA,BAY,1,1,0.0,0.0,1.0,...,False,False,False,False,False,False,True,False,False,True
1476,2025-03-15,19:00,2025,RGN,GFC,1,1,0.0,0.0,0.5,...,False,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1539,2025-05-24,19:00,2025,LA,LOU,2,3,0.0,0.0,1.6,...,False,False,False,False,False,True,False,True,False,False
1540,2025-05-24,19:00,2025,HOU,BAY,2,2,0.0,0.0,0.8,...,False,False,False,False,False,False,True,False,False,True
1541,2025-05-25,19:00,2025,SD,NC,5,2,0.0,0.0,1.6,...,False,False,False,False,True,False,False,False,True,False
1542,2025-06-06,19:00,2025,SD,RGN,1,2,0.0,0.0,0.9,...,False,False,False,False,False,True,False,True,False,False
1543,2025-06-06,19:30,2025,LOU,UTA,3,2,0.0,0.0,1.9,...,False,False,False,False,True,False,False,False,True,False

In [41]:
df_home = (
    df.groupby("home")
    .agg({"home_win": "sum", "home_loss": "sum", "home_draw": "sum"})
    .reset_index()
    .rename(columns={"home": "team"})
)
df_home

   team  home_win  home_loss  home_draw
0   BAY         2          1          1
1   CHI         0          5          0
2   GFC         1          2          1
3   HOU         1          4          2
4   KCC         4          0          0
5    LA         2          2          1
6   LOU         2          3          1
7    NC         2          2          1
8   ORL         3          2          0
9   POR         2          0          3
10  RGN         2          3          1
11   SD         3          2          1
12  UTA         1          3          1
13  WAS         1          3          1

In [42]:
df_away = (
    df.groupby("away")
    .agg({"away_win": "sum", "away_loss": "sum", "away_draw": "sum"})
    .reset_index()
    .rename(columns={"away": "team"})
)
df_away

   team  away_win  away_loss  away_draw
0   BAY         1          3          2
1   CHI         1          3          1
2   GFC         2          2          2
3   HOU         2          1          0
4   KCC         4          2          0
5    LA         2          2          1
6   LOU         3          1          1
7    NC         1          2          2
8   ORL         3          1          1
9   POR         2          2          1
10  RGN         3          1          1
11   SD         3          1          1
12  UTA         0          5          1
13  WAS         5          0          0

In [53]:
df = pd.merge(df_home, df_away, on='team')

df["home_w_l_d"] = list(zip(df["home_win"], df["home_loss"], df["home_draw"]))
df["away_w_l_d"] = list(zip(df["away_win"], df["away_loss"], df["away_draw"]))
df["home_points"] = df["home_win"] * 3 + df["home_draw"] * 1
df["home_mp"] = df["home_win"] + df["home_loss"] + df["home_draw"]
df["home_points_max"] = 3 * df["home_mp"]
df["away_points"] = df["away_win"] * 3 + df["away_draw"] * 1
df["away_mp"] = df["away_win"] + df["away_loss"] + df["away_draw"]
df["away_points_max"] = 3 * df["away_mp"]

df = df.drop(columns=["home_win", "home_loss", "home_draw", "home_mp", "away_win", "away_loss", "away_draw", "away_mp"])

df["diff"] = df["home_points"] - df["away_points"]

df

,team,home_w_l_d,away_w_l_d,home_points,home_points_max,away_points,away_points_max,diff
0,BAY,"(2, 1, 1)","(1, 3, 2)",7,12,5,18,2
1,CHI,"(0, 5, 0)","(1, 3, 1)",0,15,4,15,-4
2,GFC,"(1, 2, 1)","(2, 2, 2)",4,12,8,18,-4
3,HOU,"(1, 4, 2)","(2, 1, 0)",5,21,6,9,-1
4,KCC,"(4, 0, 0)","(4, 2, 0)",12,12,12,18,0
5,LA,"(2, 2, 1)","(2, 2, 1)",7,15,7,15,0
6,LOU,"(2, 3, 1)","(3, 1, 1)",7,18,10,15,-3
7,NC,"(2, 2, 1)","(1, 2, 2)",7,15,5,15,2
8,ORL,"(3, 2, 0)","(3, 1, 1)",9,15,10,15,-1
9,POR,"(2, 0, 3)","(2, 2, 1)",9,15,7,15,2
10,RGN,"(2, 3, 1)","(3, 1, 1)",7,18,10,15,-3
11,SD,"(3, 2, 1)","(3, 1, 1)",10,18,10,15,0
12,UTA,"(1, 3, 1)","(0, 5, 1)",4,15,1,18,3
13,WAS,"(1, 3, 1)","(5, 0, 0)",4,15,15,15,-11

In [44]:
x

In [45]:
df

,team,home_w_l_d,away_w_l_d,home_points,home_points_max,away_points,away_points_max,diff
0,BAY,"(2, 1, 1)","(1, 3, 2)",7,12,5,15,2
1,CHI,"(0, 5, 0)","(1, 3, 1)",0,15,4,9,-4
2,GFC,"(1, 2, 1)","(2, 2, 2)",4,12,8,18,-4
3,HOU,"(1, 4, 2)","(2, 1, 0)",5,21,6,6,-1
4,KCC,"(4, 0, 0)","(4, 2, 0)",12,12,12,12,0
5,LA,"(2, 2, 1)","(2, 2, 1)",7,15,7,12,0
6,LOU,"(2, 3, 1)","(3, 1, 1)",7,18,10,15,-3
7,NC,"(2, 2, 1)","(1, 2, 2)",7,15,5,15,2
8,ORL,"(3, 2, 0)","(3, 1, 1)",9,15,10,15,-1
9,POR,"(2, 0, 3)","(2, 2, 1)",9,15,7,12,2
10,RGN,"(2, 3, 1)","(3, 1, 1)",7,18,10,15,-3
11,SD,"(3, 2, 1)","(3, 1, 1)",10,18,10,15,0
12,UTA,"(1, 3, 1)","(0, 5, 1)",4,15,1,6,3
13,WAS,"(1, 3, 1)","(5, 0, 0)",4,15,15,15,-11