In [17]:
import pandas as pd
from datetime import datetime

In [18]:
team = "RGN"

In [19]:
df = pd.read_csv("data/all_matches.csv")
df["kickoff"] = pd.to_datetime(df["kickoff"])
df

,kickoff,season,home_team,away_team,home_team_score,away_team_score,home_penalty_score,away_penalty_score,is_playoff
0,2013-04-14 17:00:00,2013,CHI,RGN,1,1,0,0,False
1,2013-04-14 18:00:00,2013,NJY,WNY,1,0,0,0,False
2,2013-04-14 18:30:00,2013,BOS,WAS,1,1,0,0,False
3,2013-04-13 19:35:00,2013,KC,POR,1,1,0,0,False
4,2013-04-20 19:00:00,2013,WAS,WNY,1,1,0,0,False
...,...,...,...,...,...,...,...,...,...
1270,2023-10-15 17:00:00,2023,SD,LOU,0,0,0,0,False
1271,2023-10-15 17:00:00,2023,NJY,KCC,0,0,0,0,False
1272,2023-10-15 17:00:00,2023,LA,POR,0,0,0,0,False
1273,2023-10-15 17:00:00,2023,CHI,RGN,0,0,0,0,False
1274,2023-10-15 17:00:00,2023,ORL,HOU,0,0,0,0,False

In [20]:
# Filter to the desired team
filtered = df[(df["home_team"] == team) | (df["away_team"] == team)]

# Filter to the regular season
filtered = filtered[filtered["season"].isin(list(map(str, range(2013, 2024))))]

filtered = filtered[~filtered["is_playoff"]]

filtered = filtered[filtered["kickoff"] < datetime.now()]

filtered

,kickoff,season,home_team,away_team,home_team_score,away_team_score,home_penalty_score,away_penalty_score,is_playoff
0,2013-04-14 17:00:00,2013,CHI,RGN,1,1,0,0,False
5,2013-04-21 14:00:00,2013,POR,RGN,2,1,0,0,False
7,2013-04-26 19:35:00,2013,KC,RGN,2,0,0,0,False
13,2013-05-04 20:00:00,2013,RGN,KC,0,1,0,0,False
16,2013-05-11 19:00:00,2013,NJY,RGN,2,0,0,0,False
...,...,...,...,...,...,...,...,...,...
1090,2022-09-24 20:30:00,2022,HOU,RGN,0,2,0,0,False
1099,2022-10-01 22:00:00,2022,RGN,ORL,3,0,0,0,False
1108,2023-03-26 16:00:00,2023,WAS,RGN,1,0,0,0,False
1115,2023-04-01 21:13:00,2023,NJY,RGN,0,2,0,0,False
1123,2023-04-15 22:00:00,2023,RGN,SD,0,0,0,0,False

In [21]:
def map_to_result(row):
    went_to_penalties = row["home_penalty_score"] > 0 or row["away_penalty_score"] > 0
    score = "_team_score" if not went_to_penalties else "_penalty_score"
    if row["home" + score] == row["away" + score]:
        return "D"
    elif row["home" + score] > row["away" + score]:
        if row["home_team"] == team:
            return "W"
        else:
            return "L"
    elif row["home" + score] < row["away" + score]:
        if row["home_team"] == team:
            return "L"
        else:
            return "W"

filtered["result"] = filtered.apply(map_to_result, axis=1)
filtered

,kickoff,season,home_team,away_team,home_team_score,away_team_score,home_penalty_score,away_penalty_score,is_playoff,result
0,2013-04-14 17:00:00,2013,CHI,RGN,1,1,0,0,False,D
5,2013-04-21 14:00:00,2013,POR,RGN,2,1,0,0,False,L
7,2013-04-26 19:35:00,2013,KC,RGN,2,0,0,0,False,L
13,2013-05-04 20:00:00,2013,RGN,KC,0,1,0,0,False,L
16,2013-05-11 19:00:00,2013,NJY,RGN,2,0,0,0,False,L
...,...,...,...,...,...,...,...,...,...,...
1090,2022-09-24 20:30:00,2022,HOU,RGN,0,2,0,0,False,W
1099,2022-10-01 22:00:00,2022,RGN,ORL,3,0,0,0,False,W
1108,2023-03-26 16:00:00,2023,WAS,RGN,1,0,0,0,False,L
1115,2023-04-01 21:13:00,2023,NJY,RGN,0,2,0,0,False,W
1123,2023-04-15 22:00:00,2023,RGN,SD,0,0,0,0,False,D

In [22]:
filtered.groupby("result").count()

,kickoff,season,home_team,away_team,home_team_score,away_team_score,home_penalty_score,away_penalty_score,is_playoff
result,,,,,,,,,
D,53,53,53,53,53,53,53,53,53
L,57,57,57,57,57,57,57,57,57
W,97,97,97,97,97,97,97,97,97

In [23]:
# Genereate a table with date, season, team score, opponent score, result
out = filtered
out["date"] = out["kickoff"].dt.date

out["team_score"] = out.apply(
    lambda row: row["home_team_score"]
    if team == row["home_team"]
    else row["away_team_score"],
    axis=1,
)
out["opp_score"] = out.apply(
    lambda row: row["home_team_score"]
    if team != row["home_team"]
    else row["away_team_score"],
    axis=1,
)

out[["date", "season", "team_score", "opp_score", "result"]].to_csv(
    "data/" + team + "_reg_matches.csv", index=False
)