In [8]:
import numpy as np
import pandas as pd

In [9]:
year = "2023"
df = pd.read_csv("data/raw_minutes_" + year + ".csv")
df = df.rename(columns = {
    "Player_Name": "player",
    "Team": "team",
    "Matchday": "date",
    "Min": "minutes",
})
df

               player         team  minutes        date
0      Victoria Esson  New Zealand       90  2023-07-20
1        Ria Percival  New Zealand       90  2023-07-20
2             CJ Bott  New Zealand       90  2023-07-20
3     Malia Steinmetz  New Zealand       90  2023-07-20
4           Ali Riley  New Zealand       90  2023-07-20
...               ...          ...      ...         ...
2539    Fatima Gharbi      Morocco        0  2023-08-08
2540   Kenza Chapelle      Morocco        0  2023-08-08
2541   Sofia Bouftini      Morocco       27  2023-08-08
2542    Yasmin Mrabet      Morocco        0  2023-08-08
2543    Rosella Ayane      Morocco       27  2023-08-08

[2544 rows x 4 columns]

In [10]:
result = pd.DataFrame(
    [],
    columns=[
        "team",
        "group_1",
        "group_2",
        "group_3",
        "round_of_16",
        "quarterfinals",
        "semifinals",
        "finals",
    ],
)
result.index.name = "player"


def get_i_row(df, player, i):
    subset = df[df["player"] == player].sort_values("date", ascending=True)
    team = subset.iloc[0]["team"]
    dates = df[df["team"] == team]["date"].unique()
    if i < len(dates):
        subset = subset[subset["date"] == dates[i]]
        if len(subset.index) < 1:
            return 0
        else:
            time = subset.iloc[0]["minutes"]
            return 0 if pd.isna(time) else time
    else:
        return None


for player in df["player"].unique():
    result.loc[player] = [df[df["player"] == player].iloc[0]["team"]] + [
        get_i_row(df, player, i) for i in range(0, 7)
    ]


result

,team,group_1,group_2,group_3,round_of_16,quarterfinals,semifinals,finals
player,,,,,,,,
Victoria Esson,New Zealand,90,90,90,None,None,None,None
Ria Percival,New Zealand,90,83,71,None,None,None,None
CJ Bott,New Zealand,90,90,90,None,None,None,None
Malia Steinmetz,New Zealand,90,90,90,None,None,None,None
Ali Riley,New Zealand,90,90,90,None,None,None,None
...,...,...,...,...,...,...,...,...
Kang Chae-rim,Korea Republic,23,0,1,None,None,None,None
Rasheedat Ajibade,Nigeria,0,90,90,120,None,None,None
Halimatu Ayinde,Nigeria,0,75,90,90,None,None,None
Desire Oparanozie,Nigeria,0,0,0,7,None,None,None
Élisa De Almeida,France,0,0,90,90,None,None,None

In [11]:
result.to_csv("data/minutes_" + year + ".csv")

In [12]:
result[result["team"] == "United States"].max(axis=0)*11

team             United StatesUnited StatesUnited StatesUnited ...
group_1                                                        990
group_2                                                        990
group_3                                                        990
round_of_16                                                   1320
quarterfinals                                                  NaN
semifinals                                                     NaN
finals                                                         NaN
dtype: object

In [13]:
result[result["team"] == "United States"].sum(axis=0)

team             United StatesUnited StatesUnited StatesUnited ...
group_1                                                        990
group_2                                                        990
group_3                                                        990
round_of_16                                                   1320
quarterfinals                                                    0
semifinals                                                       0
finals                                                           0
dtype: object

In [14]:
result[result["team"] == "United States"]

,team,group_1,group_2,group_3,round_of_16,quarterfinals,semifinals,finals
player,,,,,,,,
Alyssa Naeher,United States,90,90,90,120,None,None,None
Naomi Girma,United States,90,90,90,120,None,None,None
Julie Ertz,United States,90,90,90,120,None,None,None
Savannah Demelo,United States,62,45,0,0,None,None,None
Lindsey Horan,United States,90,90,83,120,None,None,None
Sophia Smith,United States,90,90,60,120,None,None,None
Alex Morgan,United States,62,90,89,98,None,None,None
Andi Sullivan,United States,90,90,90,120,None,None,None
Crystal Dunn,United States,83,90,89,120,None,None,None
Trinity Rodman,United States,74,90,7,65,None,None,None
Emily Fox,United States,83,90,90,119,None,None,None
Casey Murphy,United States,0,0,0,0,None,None,None
Aubrey Kingsbury,United States,0,0,0,0,None,None,None
Ashley Sanchez,United States,0,0,0,0,None,None,None
Sofia Huerta,United States,7,0,0,0,None,None,None
Kelley O'Hara,United States,7,0,1,1,None,None,None
Lynn Williams,United States,0,0,83,55,None,None,None
Alyssa Thompson,United States,16,0,1,0,None,None,None
Alana Cook,United States,0,0,0,0,None,None,None
Emily Sonnett,United States,0,0,7,119,None,None,None
Megan Rapinoe,United States,28,0,30,22,None,None,None
Rose Lavelle,United States,28,45,90,0,None,None,None
Kristie Mewis,United States,0,0,0,1,None,None,None